@page
@model RazorGroupMegaDesk.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Order.CustomerName" class="control-label"></label>
                <input asp-for="Order.CustomerName" class="form-control" />
                <span asp-validation-for="Order.CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Width" class="control-label"></label>
                <input asp-for="Order.Width" class="form-control" />
                <span asp-validation-for="Order.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Depth" class="control-label"></label>
                <input asp-for="Order.Depth" class="form-control" />
                <span asp-validation-for="Order.Depth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.Drawers" class="control-label"></label>
                <input asp-for="Order.Drawers" class="form-control" />
                <span asp-validation-for="Order.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.SurfMaterial" class="control-label"></label>
                <input asp-for="Order.SurfMaterial" class="form-control" />
                <span asp-validation-for="Order.SurfMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.RushOrder" class="control-label"></label>
                <input asp-for="Order.RushOrder" class="form-control" />
                <span asp-validation-for="Order.RushOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
